@model IEnumerable<ITNews.Web1.Models.CommentViewModel>

@foreach (var item in Model)
{
    <div class="container">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section class="post-heading">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="media">
                                    <div class="media-body">
                                        @if (item.FullName.FirstName == "Empty" || item.FullName.LastName == "Empty" || item.FullName.LastName == null || item.FullName.FirstName == null)

                                        {
                                            <a href="#" class="anchor-username"><h6 class="media-heading">@item.User.UserName </h6></a>
                                        }
                                        else
                                        {
                                            <a href="#" class="anchor-username"><h6 class="media-heading">@item.FullName.FirstName @item.FullName.LastName </h6></a>
                                        }                                
                                        <span>@item.Created.ToShortDateString()</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="post-body"><br /> <p id="1">@item.Content</p></section>
                    <section class="post-footer">
                        <div class="post-footer-option container">
                            <ul class="list-unstyled">
                                <li>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-thumbs-up"></span> Like
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
