@model IEnumerable<ITNews.Web1.Models.MainPostViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col">           
            <div class="row align-items-center">                
                <div class="col-12 col-md-3">
                    <h2>Tags</h2>
                    <br/>
                    <div class="tags">
                        @await Component.InvokeAsync("Tags")
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h2>New posts</h2>
                    <br/>
                    <!-- Blog Content -->
                    @foreach (var item in Model)
                    {
                        <div class="single-blog-content">
                            <div class="post-title align-self-center">
                                <h3><a href="/Main/Details/@item.Id" class="post-headline">@item.Title</a></h3>
                            </div>
                            <p>@item.ShortDiscription</p>
                            <div class="post-meta">
                                <p>By <span>@item.User.UserName</span> </p>
                                <span class="post-category"><strong>Category:</strong> @item.Category.Name</span>
                                <div class="post-date">
                                    @item.Created
                                </div>
                                <div class="post-rating">
                                    <span>Rating: @item.Rating</span>
                                </div>
                                <p>@item.CommentsCount comments</p>
                            </div>
                            <a href="/Main/Details/@item.Id" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Read more</a>
                        </div>
                    }
                </div>
                <br/>
                <div class="search-posts">
                    @using (Html.BeginForm("Search", "Main", FormMethod.Post))
                    {
                        @Html.TextBox("search", "", new { placeholder = "Saerch..." })
                    }
                </div>
                <h2>5 The most popular posts</h2>
                <div class="col-12 col-md-3">
                    <div class="popular-posts">
                        @await Component.InvokeAsync("PopularPosts")
                    </div>
                </div>
            </div>       
            </div>
        </div>
 </div>

        
