@model IEnumerable<ITNews.Web1.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col">           
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <h2>New posts</h2>
                    <!-- Blog Content -->
                    @foreach (var item in Model)
                    {
                        <div class="single-blog-content">
                            <div class="post-title align-self-center">
                                <h3><a href="@item.Id" class="post-headline">@item.Title</a></h3>
                            </div>
                            <p>@item.ShortDiscription</p>
                            <div class="post-meta">
                                <p>By <span>@item.User.UserName</span> </p>
                                <span class="post-category"><strong>Category:</strong> @item.Category.Name</span>
                                <div class="post-date">
                                    @item.Created
                                </div>
                                <div class="post-rating">
                                    <span>Rating: @item.Rating</span>
                                </div>
                                <p>3 comments</p>
                            </div>
                            <a href="@item.Id" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Read more</a>
                        </div>
                    }
                </div>
                <h2>5 The most popular posts</h2>
                <div class="col-12 col-md-4">

                    <div class="popular-posts">
                        @await Component.InvokeAsync("Tags")
                    </div>
                </div>


            </div>       
            </div>
        </div>
 </div>

        
