@model StudentsAutomationProject.Models.StudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
        <input type="button" value="back" onclick="location.href='@Url.Action("Students","Students")'" />
    </div>
    <div>
        <input type="button" value="edit" onclick="location.href='@Url.Action("Update","Students", new { id = Model.Id})'" />
    </div>
    <div>
        @Html.DisplayNameFor(student => student.Name)
        @Html.DisplayTextFor(student => Model.Name)
    </div>
    <div>
        @Html.DisplayNameFor(student => student.Course)
        @Html.DisplayTextFor(studen => Model.Course)
    </div>
</body>
</html>
