@model IEnumerable<ITNews.Web1.Models.PostViewModel>

@{
   ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Content)
        </th>*@

            <th>
                @Html.DisplayNameFor(model => model.ShortDiscription)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.ShortDiscription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { postId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { postId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
